services:
  postgres:
    image: postgres:14
    container_name: postgres14
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: eventara
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  springboot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/eventara
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: mysecretpassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_PROFILES_ACTIVE: docker
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

# Usage:
# docker compose up --build -d
# docker compose logs -f springboot
# View postgres logs: docker-compose logs -f postgres
# docker compose down

# wipe db data too
#  docker compose down -v

# Access psql: docker-compose exec postgres psql -U postgres -d mydb
# Restart: docker-compose restart postgres

